body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    padding: auto;
}

* {
    color: red;
}

.container {
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
}

.box {
    flex: 1;
    background-color: green;
    width: auto;
    height: auto;
}

.containerSizeBtn {
    color: black;
    padding: 1vw;
    margin: 2vw;
    align-items: center;
}